/* ----------------------------- Global Styles ------------------------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #fffaf5;
  font-size: 17px;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: #403b37;
}

p {
  line-height: 1.45;
}

a {
  text-decoration: none;
}

a:any-link {
  color: inherit;
}
/* ----------------------------- Hero ------------------------------- */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-image: url("./images/hero3.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #332615;
  opacity: 0.4;
  mix-blend-mode: multiply;
}

.hero__title,
.hero__subtitle {
  width: fit-content;
  position: relative;
  z-index: 100;
  text-align: center;
}

.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(
    1px 1px 1px 1px
  ); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(
    1px,
    1px,
    1px,
    1px
  ); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(
    50%
  ); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

.hero__title svg {
  fill: #fffaf5;
  margin: 0 1em 1.6em 1em;
  width: 80vw;
  max-width: 500px;
  height: fit-content;
}

.hero__subtitle {
  font-size: 1.3rem;
  font-weight: 600;
  color: #fffaf5;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.199);
  margin: 0 1em 0.25em 1em;
}

.hero__subtitle:last-child {
  font-weight: 300;
}

@media screen and (min-width: 800px) {
  .hero {
    max-height: 800px;
  }

  .hero__title svg {
    max-width: 800px;
  }

  .hero__subtitle {
    font-size: 1.7em;
  }
}

/* ----------------------------- Nav ------------------------------- */

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3em 2.3em 1.5em 2.3em;
  text-decoration: none;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 400;
  transition: background-color 200ms;
  background-color: transparent;
  color: #fffaf5;
}

.nav--scroll {
  background-color: #fffaf5;
  color: #333;
  box-shadow: 0px 2px 2px rgba(45, 38, 61, 0.048);
}

.nav > * {
  margin: 0 0.5em;
}

.nav a {
  font-size: 1.1rem;
  display: block;
}

.nav a:first-child {
  display: none;
}

@media screen and (min-width: 800px) {
  .nav {
    display: flex;
    justify-content: space-between;
  }

  .nav a {
    display: block;
  }

  .nav a:first-child {
    display: block;
    flex: 1;
  }
}

/* ----------------------------- Sections ------------------------------- */

.section {
  margin: 3em 24px 5em 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  display: flex;
  font-size: 2em;
  flex-direction: column;
  border-bottom: 3px solid #cd7a3f;
  width: fit-content;
  padding-bottom: 0.05em;
  margin-bottom: 0.5em;
}

.subtitle {
  margin-bottom: 4em;
}

@media screen and (min-width: 800px) {
  .subtitle {
    max-width: 800px;
  }
}

/* ----------------------------- Details ------------------------------- */

iframe {
  width: 100%;
}

/* ----------------------------- Travel ------------------------------- */

.travelCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.travelCard {
  display: flex;
  flex-direction: column;
  background: #77532f10;
  margin-bottom: 2em;
  border-radius: 1em;
  overflow: hidden;
  text-align: left;
  box-shadow: 0px 2px 2px rgba(45, 38, 61, 0.103);
  width: 800px;
  max-width: 100%;
}

.travelCard__img {
  background-image: url("./images/hotel-indigo.jpeg");
  background-size: cover;
  background-position-y: bottom;
  min-width: 300px;
  min-height: 180px;
}

.travelCard:last-child .travelCard__img {
  background-image: url("./images/hilton.jpg") !important;
}

.travelCard:last-child {
  margin-bottom: 5em;
}

.travelCard__info {
  padding: 1em 2em 2em 2em;
}

.travelCard__subtitle {
  font-size: 0.7em;
  text-transform: uppercase;
  opacity: 0.45;
  margin-bottom: 1em;
}

.travelCard__title {
  font-weight: 600;
  font-size: 1.3em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: fit-content;
}

.travelCard__title::after {
  content: " ";
  padding-top: 0.06em;
  border-bottom: 2px solid #cd7a3f;
  width: 100%;
  transform: translateX(-105%);
  transition: transform 300ms;
}

.travelCard:hover .travelCard__title::after {
  transform: translateX(0%);
}

.travelCard__address,
.travelCard__phone {
  display: flex;
  align-items: center;
  margin-bottom: 0.3em;
}

.travelCard__phone {
  margin-bottom: 1em !important;
}

.travelCard__icon {
  width: 24px;
  height: auto;
  margin-right: 0.5em;
}

.travelCard__text {
  font-size: 0.8em;
}

.travelCard__cta {
  color: #cd7a3f;
  border: 2px solid #cd7a3f;
  border-radius: 100vh;
  padding: 0.5em 1em;
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.travelCard__cta:hover {
  color: white;
  background: #cd7a3f;
}

@media screen and (min-width: 640px) {
  .travelCard {
    flex-direction: row;
  }

  .travelCard__info {
    flex: 0.3;
  }

  .travelCard__img {
    flex: 0.7;
  }
}

/* ----------------------------- Registry ------------------------------- */

.card:hover .card__title::after {
  transform: translateX(0%);
}

.registry__card-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.card {
  background: #77532f10;
  padding: 2em 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 0 1em 0;
  border-radius: 1em;
  overflow: hidden;
  position: relative;
  flex: 1;
  box-shadow: 0px 2px 2px rgba(45, 38, 61, 0.103);
  width: 800px;
  max-width: 100%;
}

.card::after {
  content: "";
  position: absolute;
  top: -80px;
  left: -15px;
  background-image: url("./images/stripes.svg");
  background-size: cover;
  background-position-y: bottom;
  width: 3em;
  height: 8em;
  opacity: 0;
  transform: translateY(8%);
  transition: opacity 300ms, transform 300ms;
}

.card:hover::after {
  opacity: 0.95;
  transform: translateX(0);
}

.card:last-child {
  margin: 0;
}

.card__title {
  font-weight: 600;
  font-size: 1.3em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card__title::after {
  content: " ";
  padding-top: 0.06em;
  border-bottom: 2px solid #cd7a3f;
  width: 100%;
  transform: translateX(-105%);
  transition: transform 300ms;
}

.card__cta {
  color: #cd7a3f;
  border: 2px solid #cd7a3f;
  border-radius: 100vh;
  padding: 0.5em 1em;
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.card__cta:hover {
  color: white;
  background: #cd7a3f;
}

@media screen and (min-width: 770px) {
  .registry__card-container {
    flex-direction: row;
    max-width: 800px;
  }

  .card {
    margin: 0 1em 0 0;
  }
}

/* ----------------------------- FAQ ------------------------------- */

#FAQ {
  margin-top: -60px;
  padding: 0 24px;
}

#FAQ li {
  text-align: left;
  padding: 0.5em 0;
}
